sentence.wav
lineFeedback.ui
README.md
read-cd3f3-firebase-adminsdk-j2yp1-8540b31c72.json
__pycache__/audio_recorder.cpython-311.pyc
__pycache__/IPAmatching.cpython-311.pyc
__pycache__/story.cpython-311.pyc
__pycache__/wav2vec.cpython-311.pyc
