sentence.wav
lineFeedback.ui
README.md
read-cd3f3-firebase-adminsdk-j2yp1-8540b31c72.json
READ.py
__pycache__/audio_recorder.cpython-311.pyc
__pycache__/IPAmatching.cpython-311.pyc
__pycache__/story.cpython-311.pyc
__pycache__/wav2vec.cpython-311.pyc
build/READ/Analysis-00.toc
build/READ/base_library.zip
build/READ/EXE-00.toc
build/READ/PKG-00.toc
build/READ/PYZ-00.pyz
build/READ/PYZ-00.toc
build/READ/READ.pkg
build/READ/warn-READ.txt
build/READ/xref-READ.html
build/READ/localpycs/pyimod01_archive.pyc
build/READ/localpycs/pyimod02_importers.pyc
build/READ/localpycs/pyimod03_ctypes.pyc
build/READ/localpycs/pyimod04_pywin32.pyc
build/READ/localpycs/struct.pyc
dist/READ.exe
READ.spec
__pycache__/audio_recorder.cpython-311.pyc
__pycache__/story.cpython-311.pyc
__pycache__/IPAmatching.cpython-311.pyc
__pycache__/wav2vec.cpython-311.pyc
.gitignore
__pycache__/audio_recorder.cpython-311.pyc
__pycache__/IPAmatching.cpython-311.pyc
__pycache__/story.cpython-311.pyc
__pycache__/wav2vec.cpython-311.pyc
